<div class="flash">
  <p> There are no meals for <%= @current_day.day_of_week %> yet</p>
</div>
  <details>
  <summary>Add a meal ?</summary>
  
    <form action="/<%= @current_day.day_of_week %>/add_meal" method="post">
      <fieldset>
        <legend>Select the type of meal to add</legend>
        <dl>
          <% @open_meal_types.each do |type| %>
            <div class="select_container">
              <dt>
                <label for="add_<%= type %>"><%= type %></label>
              </dt>
              <dd>
                <input type="radio" name="type" id="add_<%= type %>" value="<%= type %>">
              </dd>
            </div>
          <% end %>
        </dl>
        <button type="submit">Save</button>
      </fieldset>
      
    </form>
  </details>

<% content_for :crumb_nav do %>
  <div class="crumbs_nav_top">
    <a class="crumb top" href="/">Home/ </a><a class="crumb day" href="/<%= @current_day.day_of_week %>"><%= @current_day.day_of_week %>/ </a> 
  </div>
<% end %>