<% if @week.map {|d| d.meals}.all?([]) %>
  <p>Click on a day to add meals to your plan</p>
<% else %>
<ol>
  <% @week.each do |d| %>
    
      <% if d.meals.empty? %>
        <% next %>
      <% else %>
      <li>
        <a href="/<%= d.day_of_week %>"><%= d.day_of_week %></a>
        
        <% d.meals.each do |m| %>
          <br>
          <br>
          <a href="/<%= d.day_of_week %>/<%= m.type %>"><%= m.type %></a>
          
          <% next if m.courses.empty? %>
            <ol>
            <% m.courses.each do |course| %>
              <li>
                <%= course %>
              </li>
            <% end %>
            </ol>
        <% end %>
        
      </li>
    <% end %>
    
  <% end %>
</ol>
<% end %>

<details>
  <summary>Reset the entire Meal Plan?</summary>
  <form action="/clear_all" method="post">
    <button type="submit">Yes, Reset All</button>
  </form>
</details>