<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Planning</title>
</head>
<body>
  <header>
    <nav>
      <ol>
        <li><a href="/">Home</a> </li>
        <% @week.each do |day| %>
        <li><a href="/<%= day.day_of_week%>"><%= day.day_of_week%></a></li>
        <% end %>
      </ol>
    </nav>
    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>
  </header>
  <main>
    <%== yield %>
  </main>
</body>
</html>